html, body {
  margin: 0;
  padding: 20px;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  background-color: violet;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,  h2{
  color: rgb(180, 233, 213);
  font-family: Comic Sans MS, Comic Sans, cursive;
}

/* Add your CSS here */
#gameboard {
  border-collapse: collapse;
}
td {
  width: 150px;
  height: 150px;
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(45deg, violet, lightblue);
}
tbody>tr:nth-child(1){
  border-bottom: ridge red 5px;
}
tbody>tr:nth-child(2){
  border-bottom: ridge red 5px;
}
tbody>tr>td:nth-child(2){
  border-right: ridge red 5px;
  border-left: ridge red 5px;
}
aside {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.xsquare {
  color: brown;
}
.osquare {
  color: cadetblue;
}
#reset {
  width: 30%;
  background-color: cadetblue;
  color: white;
  font-family: Comic Sans MS, Comic Sans, cursive;
  visibility: visible;
}